@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#menu{
    position: fixed;
    border: 1px solid black;
    width: 15.2vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    background-color: black;
    color: white;
    padding-top: 30px;
}

#menu .top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#menu .bottom,
#menu .top{
    padding: 10px;
}

#menu .top h1{
    font-size: 25px;
}

#menu .content ul{
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
    padding: 10px;
}

#menu .content ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

#menu .content ul li#active{
    border: 1px solid white;
    border-radius: 10px;
}

#menu .bottom{
    height: 100%;
    display: flex;
    align-items: end;
}

#menu .bottom p{
    font-size: 15px;
}






@media (max-width: 768px) {
    #menu {
        width: 100vw;
        height: auto;
        position: fixed;
        bottom: 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        gap: 0;
    }

    #menu .top {
        display: none;
    }

    #menu .content ul {
        flex-direction: row;
        gap: 1rem;
        overflow-x: auto;
    }

    #menu .content ul li {
        gap: 5px;
    }

    #menu .bottom {
        height: auto;
        align-items: center;
        justify-content: center;
    }

    #menu .bottom p {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #menu {
        width: 25vw;
        height: 100vh;
    }
}




/* Zawartość */


#content {
    margin-left: 15.2vw;
    width: calc(100% - 15.2vw);
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    gap: 50px;
}

#content .exercise {
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding: 30px;
    border-radius: 8px;
}

#content .exercise h1{
    font-size: 29px;
}

#content .exercise .date_and_download{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
}

#content .exercise .date_and_download img{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    opacity: 30%;
    transition-duration: .4s;
    cursor: pointer;
}

#content .exercise .date_and_download img:hover{
    opacity: 1;
}