@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: black;
}

.bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /* border: 2px solid white; */ 
    padding: 10px;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.container .text h1{
    text-align: center;
    font-size: 50px;
}

.bg .container .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bg .container .options .option{
    border: 1px solid white;
    /* background-color: rgba(255, 255, 255, 0.356); */
    width: 40%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 5px;
    /* cursor: pointer; */
    transition-duration: .5s;
}

.bg .container .options .option:hover{
    transform: translateY(-20px);
}

.bg .container .options .option p{
    text-align: center;
}

.bg .container .options .option a{
    border: 1px solid white;
    padding: 10px;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    transition-duration: .5s;
}

.bg .container .options .option a:hover{
    background-color: white;
    color: black;
}

.bg .container .options .option:nth-child(1){
    position: relative;
}

.bg .container .options .option:nth-child(1)::after{
    content: url(/popr-stronka/imgs/arrow-right.svg);
    position: absolute;
    left: -4rem;
    animation: hophop 1.7s infinite;
}

@keyframes hophop {
    0%{
        transform: translateX(0px);
    } 50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}

.bg .container .options .option:nth-child(2){
    position: relative;
}

.bg .container .options .option:nth-child(2)::after{
    content: url(/popr-stronka/imgs/arrow-left.svg);
    position: absolute;
    right: -4rem;
    animation: hophophop 1.7s infinite;
}

@keyframes hophophop {
    0%{
        transform: translateX(0px);
    } 50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}


.key{
    border: 1px solid white;
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 8px;
    border-radius: 10px;
    opacity: 20%;
    transition-duration: .3s;
    cursor: pointer;
}

.key:hover{
    opacity: 50%;
}

.key img{
    width: 22px;
}